
<ion-header page-server-header class="page-server-header">
	<ion-toolbar color="undefined">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>server</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content page-server-content class="page-server-content " >
<ion-card>
	<ion-list *ngIf="servers">
  		<ion-item *ngFor="let item of servers">
      	{{item.name}}
                	{{item.server}}
      	</ion-item>	
  </ion-list>
</ion-card>

</ion-content>
